.cake-sizes {
    background-color: #fff;
    margin-bottom: 10px;
}
.size-item {
    position: relative;
    margin-bottom: 50px;
}
.size-item-slider__item {
    display: none;
    &--active {
        display: initial;
    }
}
.size-item__img {
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    border: 10px solid #fff;
    &:hover {
        box-shadow: 0px 6px 16px 1px rgba(103, 12, 40, 0.14) ;
    }
}
.size-item__weight {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 8px);
    font-family: Circe;
    font-size: 16px;
    font-weight: 400;
}
.size-item__definition {
    opacity: 0.8;
    color: #2f2f2f;
    font-family: Circe;
    font-size: 14px;
    font-weight: 400;
}
.size-item-btn {
    margin-top: 57px;
    margin-bottom: 26px;
}

@media screen and (min-width: 768px) {
    .cake-sizes {
        padding: 75px 71px;
        position: relative;
        &__details {
            text-align: left;
            position: absolute;
            top: 46px;
            left: 46px;
            display: flex;
display: flex;
flex-direction: column;
align-content: flex-start;        }
    }
    .size__items {
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        align-content: flex-end;
        align-items: flex-end;
    }
    .size-item {
        margin: 0;
    }
    .size-item-btn {
        display: none;
    }
    .size-item-slider__item {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .size-item__img {
        margin-bottom: 25px;
    }
    .size-item__weight {
        font-size: 12px;
        top: calc(50% - 16px);
        left: calc(50% - 6px);
    }
}
@media screen and (min-width: 1366px) {
    .cake-sizes {
        padding: 140px 165px;
    }
    &__details {
        top: 75px;
        left: 82px;
    }
    .wrapper__order {
        font-size: 64px;
    }
    .wrapper__title {
        font-size: 27px;
    }
    .size-item__weight {
        font-size: 17px;
    }
    .size-item__definition {
        font-size: 18px;
    }
}