
.contacts__title {
color: #2d2829;
font-family: "Playfair Display";
font-size: 24px;
font-weight: 700;
}
.contacts__desc {
color: #32313d;
font-family: "Intro Script R - H2 Base";
font-size: 22px;
font-weight: 400;
text-align: left;
}
.contacts__form-label {
color: #000000;
font-family: Circe;
font-size: 14px;
font-weight: 700;
text-align: left;
margin-bottom: 12px;
display: block;
}
.contacts__form-name {
width: 100%;
border-radius: 3px;
background-color: #ffffff;
border: none;
color:  #e0e0e0;
padding: 18px 0 21px 11px;
font-family: Circe;
font-size: 14px;
font-weight: 400;
margin-bottom: 10px;
}
.contacts__form-email {
    width: 100%;
    border-radius: 3px;
    background-color: #ffffff;
    border: none;
    color:  #e0e0e0;    
    padding: 18px 0 21px 11px;
    font-family: Circe;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}
.contacts__form-question {
    width: 100%;
border-radius: 3px;
background-color: #ffffff;
border: none;
color:  #e0e0e0;
padding: 18px 0 21px 11px;
font-family: Circe;
font-size: 14px;
font-weight: 400;
margin-bottom: 10px;
}
.contacts__submit-btn {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 21px 55px;
}
.contacts__links {
    text-align: left;
}
.contacts__link {
color: #000000;
font-family: Circe;
font-size: 14px;
font-weight: 600;
}
.contacts__socials {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
}
.contacts__social {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    margin-right: 30px;
    display: inline-block;
    margin-bottom: 50px;
    &--inst {
        background:#fff url(/img/инстаграм_иконка.png) no-repeat 50% 50%;
    }
    &--vk {
        background: #fff url(/img/вконтакте_иконка_42.png) no-repeat 50% 50%;
    }
}