.contacts {
    padding: 0 20px;
}
.contacts__title {
color: #2d2829;
font-family: "Playfair Display";
font-size: 24px;
font-weight: 700;
}
.contacts__desc {
color: #32313d;
font-family: "Intro Script R - H2 Base";
font-size: 22px;
font-weight: 400;
text-align: left;
}
.contacts__form-label {
color: #000000;
font-family: "Circe";
font-size: 14px;
font-weight: 700;
text-align: left;
margin-bottom: 12px;
display: block;
}
.contacts__form-name {
width: 100%;
border-radius: 3px;
background-color: #ffffff;
border: none;
color:  #e0e0e0;
padding: 18px 0 21px 11px;
font-family: "Circe";
font-size: 14px;
font-weight: 400;
margin-bottom: 10px;
}
.contacts__form-email {
    width: 100%;
    border-radius: 3px;
    background-color: #ffffff;
    border: none;
    color:  #e0e0e0;    
    padding: 18px 0 21px 11px;
    font-family: "Circe";
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}
.contacts__form-question {
    width: 100%;
border-radius: 3px;
background-color: #ffffff;
border: none;
color:  #e0e0e0;
padding: 18px 0 21px 11px;
font-family: "Circe";
font-size: 14px;
font-weight: 400;
margin-bottom: 10px;
}
.contacts__submit-btn {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 21px 55px;
}
.contacts__links {
    text-align: left;
}
.contacts__link {
color: #000000;
font-family: "Circe";
font-size: 14px;
font-weight: 600;
}
.contacts__phone{
    text-decoration: none; 
    color: #000; 
    &:hover {
        color: #f50049;
    }
}
.contacts__socials {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
}
.contacts__social {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    margin-right: 30px;
    display: inline-block;
    margin-bottom: 50px;
    &:hover {
        box-shadow: 0 2px 7px 1px rgba(255, 0, 67, 0.2);
    }
    &--inst {
        background:#fff url(/img/инстаграм_иконка.png) no-repeat 50% 50%;
    }
    &--vk {
        background: #fff url(/img/вконтакте_иконка_42.png) no-repeat 50% 50%;
    }
    &-ref {
        width: 63px;
        height: 63px;
        border-radius: 50%;
        margin-right: 30px;
        display: inline-block;
    }
}

@media screen and (min-width: 768px) {
    .contacts {
        background: #FBEBEA url("/img/768_contacts-bg.png.jpg") no-repeat bottom 0 right -140px;
        min-height: 589px;
        box-sizing: border-box;
        &__wrapper {
            display: flex;
            flex-direction: row;
        }
        &__title {
            text-align: left;
            font-size: 28px;
        }
        &__desc {
            font-size: 22px;
        }
        &__form {
            width: 345px;
            box-sizing: border-box;
            margin-right: 66px;
        }
        &__form-label {
            width: 250px;
        }
        &__links {
            text-align: left;
        }
        &__link {
            margin-top: 0;
        }
   }
}

@media screen and (min-width: 1366px) {
    .contacts {
        padding: 80px 73px;
        background: url(/img/1366_contacts-bg.png.jpg) no-repeat bottom right;
        min-height: 845px;
        &__title {
            margin-top: 0;
            font-size: 40px;
            margin-bottom: 40px;
        }
        &__desc {
            font-size: 35px;
            margin: 0;
        }
       &__form {
        width: 550px;
        margin-right: 80px;
        text-align: left;
           &-label {
            font-size: 20px;
            width: 100%;
           }
           &-name {
            background-color: #FBEBEA;
            border-radius: 0;
            border-bottom: 1px solid #000000;
            opacity: 0.2;
            color: #000000;
            padding-left: 0;
            padding-bottom: 0;
           }
           &-email {
            background-color: #FBEBEA;
            border-radius: 0;
            border-bottom: 1px solid #000000;
            opacity: 0.2;
            color: #000000;
            padding-left: 0;
            padding-bottom: 0;
           }
           &-question {
            background-color: #FBEBEA;
            height: 1em;
            border-radius: 0;
            border-bottom: 1px solid #000000;
            opacity: 0.2;
            color: #000000;
            padding-left: 0;
            padding-bottom: 0;
            margin-bottom: 80px;
           }
       }
       &__links {
       }
       &__link {
           font-size: 20px;
       }
     
       .contacts__social {
           margin-top: 25px;
       }
    }
}