.feedbacks {
    text-align: center;
}
.feedbacks__title {
color: #2d2829;
font-family: "Playfair Display";
font-size: 24px;
font-weight: 700;
}
.feedback {
    position: relative;
margin: 0 auto;
}
.feedback__img {
    display: block;
    margin: 0 auto;
    margin-bottom: 7px;
}
.feedback__name {
color: #2d2829;
font-family: "Circe";
font-size: 14px;
font-weight: 700;
display: block;
margin: 0 auto;
}
.feedback__prof {
color: #2d2829;
font-family: "Circe";
font-size: 12px;
margin-bottom: 7px;
}
.feedback__link{
    color: #f77b91;
    font-style: italic;
}
.feedback__context {
    text-align: center;
color: #2d2829;
font-family: "Circe";
font-size: 12px;
font-weight: 400;
width: 230px;
padding: 0 40px;
    margin: 0 auto;
    margin-bottom: 70px;
}
.feedback__count {
    position: absolute;
    bottom: 0; 
    right: 35px;
    opacity: 0.7;
    color: #f50049;
    font-family: "Circe";
    font-size: 12px;
    font-weight: 400;
}
.about {
    text-align: center;
    padding: 0 20px
}
.about__title {
margin: 0;
margin-bottom: 27px;
color: #2d2829;
font-family: "Playfair Display";
font-size: 24px;
font-weight: 700;
width: 100%;
}
.about__quote {
    margin-top: 74px;
    position: relative;
}
.social__icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    &--inst {
        background: url(/img/инстаграм_иконка_.png) no-repeat 50% 50%,
        url(/img/background.svg);
    }
    &--vk {
        background: url(/img/вконтакте_иконка.png) no-repeat 50% 50%,
        url(/img/background.svg);
    }
    &--tw {
        background: url(/img/твиттер_иконка.png) no-repeat 50% 50%,
        url(/img/background.svg);
    }
}
.person-photo {
    margin-right: 34px;
}
.social__link {
    margin-bottom: 15px;
}
.about__person {
    text-align: left;
}
.about__socials {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 280px;
    box-sizing: border-box;
}
.social__links {
    display: flex;
    flex-direction: column;
}
.person__title {
color: #32313d;
font-family: "Intro Script R - H2 Base";
font-size: 22px;
font-weight: 400;
}
.person__hightlight {
color: #2d2829;
font-family: "Circe";
font-size: 14px;
font-weight: bold;
}
.person__text {

color: #2d2829;
font-family: "Circe";
font-size: 14px;
font-weight: 400;
}

.quote__icon {
color: #fffefe;
font-family: "Playfair Display";
font-size: 60px;
font-weight: 700;
margin-bottom: 17px;
position: absolute;
top: -50px;

}
.quote__text {
color: #2d2829;
font-family: "Playfair Display";
font-size: 13px;
font-weight: 700;
font-style: italic;
}
.quote__signature {
    width: 64px;
    height: 31px;
    display: inline-block;
    background: url(/img/роспись.png) no-repeat;
}

@media screen and (min-width: 768px) {
    .feedbacks {
        padding: 46px;
        background: url('/img/768_l_иллюстрация_к_отзывам.png') no-repeat 0 -5px,
        url('/img/768_r_иллюстрация_к_отзывам.png') no-repeat 100% -10px;
    }
    .feedbacks__title {
        margin-top: 0;
        font-size: 28px;
    }
    .feedback {
        width: 386px;
        height: 150px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-bottom: 132px;
        &__img {
            margin: 0;
            margin-right: 25px;
            padding-top: 20px;
            height: 100%;
            align-self: center;
        }
        &__name {
            margin: 0;
            font-size: 16px;
            text-align: left;
        }
        &__prof {
            text-align: left;
            font-size: 14px;
        }
        &__context {
            text-align: left;
            font-size: 14px;
            margin: 0;  
            padding: 0;
            width: 255px;
        }
    }
    .about {
        &__title {
            
        }
    }
}