.container {
}
.footer {
    padding: 45px 20px 5px;
    background-color: #898989;
}
.footer-nav__logo {
color: #ffffff;
font-family: "Playfair Display";
font-size: 28px;
font-weight: 700;
margin-bottom: 30px;
display: flex;
margin-right: auto;
}

.footer-nav__items {
list-style: none;
margin: 0;
padding: 0;
text-align: left;
}
.footer-nav__item {
color: #ffffff;
font-family: Roboto;
font-size: 14px;
font-weight: 400;
margin-bottom: 15px;
}
.footer-nav__phone {
color: #ffffff;
display: flex;
margin-right: auto;
font-family: Roboto;
font-size: 14px;
font-weight: 400;
text-decoration: none;
}
.footer__socials {
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #b6b6b6;
}
.footer__social {
    display: inline-block;
    margin-top: 30px;
    vertical-align: top;
    margin-right: 18px;
    margin-bottom: 40px;
    &--inst {
        width: 23px;
        height: 23px;
        color: #b6b6b6;
        background:  url(/img/footer_иконка_инстаграм.png) no-repeat 50% 50%;
    }
    &--vk {
        width: 31px;
        height: 19px;
        color: #b6b6b6;
        background: url(/img/footer_иконка_вконтакте.png) no-repeat 50% 50%;
    }
}
.footer__copyrights {
    text-align: left;
opacity: 0.5;
color: #ffffff;
font-family: Roboto;
font-size: 12px;
font-weight: 400;
margin: 5px 0 0;
}