
.main-nav{
        padding: 40px 20px 0;
        background: url(/img/фото_торта.png) no-repeat;
        background-color: #fbebea;
        background-position-y: -166px;
        background-position-x: 50%;
        position: relative;
}
.container {
    min-width: 280px;
    text-align: center;
    margin: 0 auto;
}
.main-nav__nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px 0;
    height: 40px;
    background-color: #fff;
    box-sizing: border-box;
}
.main-nav__logo {
color: #000000;
font-family: "Playfair Display";
font-size: 16px;
font-weight: 700;
display: block;
float: left;
margin-right: auto;
}
.nav__items {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav__item {
    box-sizing: border-box;
    text-align: center;
    display: block;
    width: 320px;
    height: 40px;
    background-color: #e7e7e7;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 17px 0 14px 0;
}
.nav__item-link {
    text-decoration: none;
    color: #383838;
    font-family: Circe;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.hamburger {
display: inline-block;
width: 18px;
height: 2px;
border-radius: 1px;
background-color: #000000;
position: absolute;
top: 50%;
left: 0;
box-shadow:  0px 5px #000000,
                        0px -5px #000000;
}

.main-nav__phone {
    display: none;
}
.header__title {
text-align: center;
color: #2d2829;
font-family: "Playfair Display";
font-size: 40px;
font-weight: 700;
}
.header__desc {
text-align: center;
color: #32313d;
font-family: "Intro Script R - H2 Base";
font-size: 22px;
font-weight: 400;
}
.header__features {
    list-style: none;
    margin: 0;
    padding: 0;
}
.feature__text {
color: #000000;
font-family: Circe;
font-size: 14px;
font-weight: 400;
vertical-align: top;
}
.header__feature{
    text-align: left;
    height: 33px;
    box-sizing: border-box;
    margin-bottom: 13px;
    &:last-child {
        margin-bottom: 42px;
    }
}
.feature__img--ingr {
    display: block;
    float: left;
    width: 33px;
    height: 33px;
    background: url(/img/иконка_ингредиенты.png);
    margin-right: 9px;
}
.feature__img--gift {
    display: block;
    float: left;
width: 33px;
height: 32px;
background: url(/img/иконка_доставка.svg);
margin-right: 10px;
}
.nav__btn {
    display: flex;
    margin-left: auto;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: none;
    position: relative;
    &:active {
        .nav__items {
            display: initial;
        }
    }
}
.btn {
display: inline-block;
border: none;
border-radius: 26px;
text-align: center;
background-color: #f50049;
color: #ffffff;
font-family: Circe;
font-size: 13px;
font-weight: 400;
text-transform: uppercase;
padding: 21px 65px;
height: auto;
width: auto;
}


@media screen and (min-width: 768px) {
    .main-nav {
        padding: 172px 46px 0;
        background:url(/img/768_main-nav.png) no-repeat;
        background-position: top 73px right -130px;
    }
    .main-nav__nav {
        min-height: 60px;
        padding: 18px 46px 0;
        display: flex;
        flex-direction: row;
    }
    .main-nav__logo {
        vertical-align: top;
        font-size: 20px;
        margin-right: 26px;
    }
    .nav__btn {
        margin-left: 0;
        margin-right: 0;
    }
    .main-nav__phone {
        display: flex;
        margin-left: auto;
        text-decoration: none;
        color: #2d2829;
        font-family: Circe;
        font-size: 15px;
        font-weight: 700;
        vertical-align: top;
    }
    .header__title {
font-size: 60px;
text-align: left;
margin: 0; 
margin-bottom: 29px;
    }
    .header__desc {
        text-align: left;
        font-size: 36px;
        margin: 0;
    }
    .header__features {
        order: 2;
        flex-direction: row;
        text-align: left;
        margin-bottom: 152px;
    }
    .header__feature {
        display: inline-block;
        width: 170px;
        margin-right: 70px;
        &:last-child {
            width: 235px;
        }
    }
    .feature__img {
        margin-right: 14px;
        &--ingr {
            background: url(/img/768_иконка_ингредиенты.png);
            width: 55px;
            height: 55px;
            margin-right: 13px;
        }
        &--gift {
            background: url(/img/768_иконка_доставка.svg);
            width: 55px;
            height: 54px;
        }
   }
   .hero {
       display: flex;
       flex-direction: column;
   }
   .main-nav__btn {
       order: 1;
       width: 226px;
       margin-top: 53px;
       margin-bottom: 147px;
   }
}

@media screen and (min-width: 1366px) {
    .main-nav {
        padding: 50px 73px 265px;
        background: url(/img/1366_main_bg.png) no-repeat;
        background-position: top 130px right -20px;
    }
    .main-nav__nav {
        display: flex;
        flex-direction: row;
        position: relative;
        padding: 0;
        background-color: transparent;
        margin-bottom: 162px;
    }
    .nav__btn {
    display: none;
    }
    .main-nav__logo {
        font-size: 23px;
        margin-right: 47px;
    }
    .nav__items {
        display: flex;
    }
    .nav__item {
        padding: 10px 0 0;
        background-color: #fbebea;
        font-size: 13px;
        width: auto;
        box-shadow:none ;
        margin-right: 44px;

    }
    .nav__item-link {
        font-size: 13px;

        &:hover {
            color: #f50049;
            font-weight: bold;
        }
        &:active {
            color: #f50049;
            font-weight: bold;
        }
    }
    .main-nav__phone {
        display: flex;
    }
    .main-nav__btn {
        margin: 58px 0 128px;
    }
    .header__title {
        margin-bottom: 31px;
    }
}