.order {
    background: 
      url("/img/320_order-bg.png") no-repeat bottom  center;
     background-color: #e3353d;
    min-height: 482px;
    text-align: center;
    padding: 37px 20px 0;
}
.order__title {
color: #ffffff;
font-family: "Playfair Display";
font-size: 24px;
font-weight: 700;
margin: 0 auto;
margin-bottom: 37px;
}
.order__step {
    display: block;
    position: relative;
    text-align: left;
    padding-left: 20px;
}
.order__steps {
    list-style: none;
    margin: 0;
    padding-left: 18px;
}
.order__count {
color: #ffffff;
font-family: "Playfair Display";
font-size: 35px;
font-weight: 700;
position: absolute;
left: -8px;
top: -16px;
}
.order__desc  {
color: #ffffff;
font-family: "Circe";
font-size: 15px;
font-weight: 700;
letter-spacing: 0.4px;
margin: 7px 0;
}
.order__context {
color: #ffffff;
font-family: "Circe";
font-size: 14px;
font-weight: 400;
margin: 0;
margin-bottom: 23px;
}
.order__img {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .order {
        padding: 50px 64px 0;
      background: #e3353d  url("/img/768_order-bg.png") no-repeat left top;
      min-height: 420px;
      height: 420px;
      box-sizing: border-box;
      &__title {
          margin-left: 0;
          font-size: 28px;
      }
      &__count {
          font-size: 36px;
          left: -13px;
          top: -14px;
      }
      &__desc {
          margin: 0;
      }
      &__context {
      }
    }
    .order__steps {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-left: auto;
        width: 375px;

    }
    .order__step {
        margin-left: 15px;
    }
}