@font-face {
    font-family: "Circe";
    src: url(/fonts/Circe-Regular.woff);
  }
  @font-face {
    font-family: "Intro Script R - H2 Base";
    src: url(/fonts/rh2.otf);
  }
  @font-face {
      font-family: "Roboto";
      src: url(/fonts/Roboto-Regular.ttf)
  }
  @import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap&subset=cyrillic');
@import "norm.scss";
body {
    min-width: 320px;
padding: 0;
margin: 0;
    box-sizing: border-box;
    background-color: #fbebea;
}
picture { display:block; }
figure {
  margin: 0;
  padding: 0;
}


@import "header.scss";
@import "products.scss";
@import "personal-order.scss";
@import "cake-sizes.scss";
@import "topingsChoice.scss";
@import "feedbacks.scss";
@import "advantages.scss";
@import "order.scss";
@import "contacts.scss";
@import "footer.scss";